# Supabase 配置
SUPABASE_URL=https://ovzymendccybvhivkyou.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92enltZW5kY2N5YnZoaXZreW91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE5NjI5NTAsImV4cCI6MjA3NzUzODk1MH0.NMjT-JunQKG73wFQrt1Iwcb4IacFgXfpv2PNIV4iNHo

# 后端监听端口
PORT=3000